<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
          background-color: black;
        }
        h1,h3,span,p{
            color : white;
        }
        h1{
            font-size : 60px;
        }
        </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>
<body>
    <h1>{{data.name}}</h1>
    <span>{{data.intro}}</span>
    <br>
    <h3>Email : {{data.email}}</h3>
    <h3>Ph. No. : {{data.phone}}</h3>
    <h3>Location : {{data.address}}</h3>
    <span>Codeforces : {{data.codeforces}}&emsp;&emsp;CodeChef : {{data.codechef}}&emsp;&emsp;LeetCode : {{data.leetcode}}&emsp;&emsp;GitHub : {{data.github}}</span>
    <br>
    <hr>
    <h3>School : {{data.school}}</h3>
    <h3>College : {{data.college}}</h3>
    <span>Branch : {{data.branch}}</span>
    <br>
    <hr>
    <h3>Projects : </h3>
    <p>{{data.projects}}</p>
    <br>
    <h3>Skills : </h3>
    <p>{{data.skills}}</p>
    <br>
    <h3>Achievement : </h3>
    <p>{{data.achievement}}</p>
    <br>
    <h3>Experience : </h3>
    <p>{{data.experience}}</p>
    <hr>
</body>
</html>